### Credentials / local deploy ###
ENV_INIT*.env
.env
!.env.example
do-deploy.sh

### Gradle build output ###
build/
target/
out/
.gradle/

### Kotlin compiler daemon ###
.kotlin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### OS ###
.DS_Store
